.footer {
  width: 100%;
  height: 64px;
  background-color: #59882C;
  color: white;
  border-top: 2px solid #24282A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  position: absolute;
  bottom: 0;

  @media (max-width: 872px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 16px 0 8px 0;
    height: 136px;
  }

  &__title {
    color: inherit;
    font-size: 20px;
    padding-left: 44px;
    font-weight: bold;

    @media (max-width: 1020px) {
      padding-left: 0;
    }

    @media (max-width: 872px) {
      width: 100vw;
    }
  }

  &__links {
    background-color: inherit;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;

    @media (max-width: 872px) {
      flex-wrap: wrap;
    }

    @media (max-width: 872px) {
      height: 90px;
    }

    @media (max-width: 1020px) {
      padding-right: 0;
    }

    &__link {
      color: inherit;
      font-weight: bold;
      margin-right: 48px;
      letter-spacing: 0.04em;
      line-height: 16%;
      font-size: 12px;

      @media (max-width: 1020px) {
        margin-right: 24px;
      }

      &:hover {
        cursor: pointer;
      }

      @media (max-width: 872px) {
        margin: 12px;
      }
    }
  }
}
