.header {
  background: #71AB4F;
  color: #FFF;
  padding: 40px 32px;
  margin-bottom: 24px;

  @media (max-width: 872px) {
    padding: 16px;
  }

  &__title {
    font-size: 36px;
    font-weight: bold;
    margin-top: 8px;

    @media (min-width: 873px) {
      font-size: 48px;
    }
  }

  &__link {
    display: flex;
    color: #FFF;
  }

  &__link-text {
    font-size: 18px;
    margin-left: 12px;
  }
}
