.sort {
  display: flex;
  justify-content: left;
  cursor: pointer;

  div {
    color: #4B79D2;
    font-size: 14px;
    font-weight: 800;
    margin-right: 10px;
  }

  img {
    margin-top: -5px;

    &.desc {
      transform: rotate(180deg);
    }
  }
}
