.short-result {
  background: white;
  border-radius: 8px;
  width: 49%;
  height: 160px;
  padding: 16px;

  @media (max-width: 640px) {
    width: 100%;
    margin-bottom: 16px;
  }

  &__top {
    display: flex;
    justify-content: space-between;

    &__title {
      display: flex;
      font-size: 16px;
      font-weight: 700;
      color: #24282A;

      img {
        margin-right: 10px;
      }
    }

    &__date {
      font-size: 14px;
      font-weight: 600;
      color: #24282A;
    }
  }

  &__question {
    color: #24282A;
    font-size: 16px;
    font-weight: 700;
    padding-top: 40px;
  }

  &__duration {
    color: #24282A;
    font-size: 16px;
    font-weight: 700;
    padding-top: 40px;
  }

  &__comment {
    margin: 0 45px;
  }

  &__review {
    display: flex;
    justify-content: center;

    img {
      margin: 0 5px;
      width: 27px;
    }
  }

  &__result {
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    text-align: center;
  }
}
