.main-container {
  background: white;
  padding: 24px;
  border-radius: 8px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin: 24px auto 0 auto;

  @media (max-width: 820px) {
    display: block;
  }

  &__left {
    display: block;
    width: 100%;

    &__title {
      font-weight: 700;
      font-size: 21px;
      padding-bottom: 8px;
    }

    &__info {
      font-weight: 700;
      font-size: 16px;
      padding-bottom: 8px;
      display: flex;

      @media (max-width: 400px) {
        font-size: 14px;
      }

      &__participants {
        padding-left: 10px;
      }
    }

    &__icons {
      display: flex;

      @media (max-width: 820px) {
        display: none;
      }
    }

    &__desc {
      font-weight: 400;
      font-size: 16px;
    }
  }

  &__right {
    margin-left: 24px;

    @media (max-width: 820px) {
      margin-left: 0;
    }

    &__button {
      display: flex;
      height: 48px !important;
      align-items: center;

      @media (max-width: 820px) {
        margin-top: 10px;
        width: 100%;
      }
    }
  }
}

.view-margin-top-12 {
  margin-top: 12px;
}

.hide {
  @media (max-width: 820px) {
    display: none;
  }
}

.max-width {
  width: 100%;
}

.view-hide-button-on-mobile {
  display: flex;

  @media (max-width: 820px) {
    display: none;
  }
}

.chip-margin {
  margin-bottom: 24px;
}

.margin-left-21 {
  margin-left: 21px;

  @media (max-width: 820px) {
    margin-left: 0;
    margin-top: 8px;
  }
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.limit-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
