.main-container {
  display: flex;
  justify-content: center;
  width: 100%;

  &__index {
    align-self: center;
    padding: 4px 11px;
    margin-left: 27px;
    background-color: white;
    border-radius: 8px;

    &:hover {
      cursor: pointer;
    }
  }
}

.selected {
  color: white;
  background: #4B79D2;
  border-radius: 8px;
}

.view-hidden {
  visibility: hidden;
}

.view-visible {
  visibility: visible;
}
