.main-container {
  background: white;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  align-items: center;
  margin-bottom: 24px;
  height: 95px;

  &__position {
    margin-left: 12px;
    font-size: 12px;
  }

  &__name {
    font-weight: 700;
    font-size: 14px;
  }

  &__category {
    color: #757575;
    font-weight: 600;
    font-size: 12px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__row-left {
    align-items: center;
    display: flex;
    margin-bottom: 20px;
  }
}

.tile {
  display: flex;
}

.completed {
  margin-left: 16px;
  align-items: center;
  border-radius: 8px;
  background: #71AB4F;
  display: flex;
  padding: 27px 20px;
}

.button {
  display: flex;
  align-items: center;
  min-width: 88px;
  margin-left: 16px;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  justify-content: center;
  background: white;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 24px !important;

  @media (max-width: 872px) {
    max-width: 80px !important;
  }

  &__play {
    color: #4B79D2;
    box-shadow: 0 2px 0 0 #4B79D2;
    border: 2px solid #4B79D2;

    &:hover {
      cursor: pointer;
      filter: brightness(110%);
    }

    &:active {
      border: 2px solid #001F80;
      box-shadow: 0 2px 0 0 #001F80;
      color: #001F80;
    }
  }

  &__play-yellow {
    color: #FBBE1C;
    box-shadow: 0 2px 0 0 #FBBE1C;
    border: 2px solid #FBBE1C;
  }

  &__play-disabled {
    color: #757575;
    box-shadow: 0 2px 0 0 #757575;
    border: 2px solid #757575;
    cursor: not-allowed;
  }
}

.view-img-resize {
  width: 16px;
  height: 16px;
}

.view-stars {
  display: block;
  margin-top: 16px;
}

.view-star-spacing {
  margin: 0 18px;
}
