.main-container {
  background: white;
  color: black;
  border-radius: 8px;
  padding: 24px;
  margin-top: 8px;

  &__title {
    font-weight: 700;
    font-size: 21px;
  }

  &__button {
    margin: 0 auto;
    width: 70%;
  }
}

.view-mb8 {
  margin-bottom: 8px;
}

.view-mb16 {
  margin-bottom: 16px;
}
