.empty-students {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
  color: #24282A;

  @media (max-width: 415px) {
    display: block;
    text-align: center;
  }

  &__text {
    width: 60%;

    @media (max-width: 415px) {
      width: 100%;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
  }

  &__content {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  &__button {
    padding-left: 12px;

    @media (max-width: 415px) {
      padding-top: 15px;
      padding-left: 0;
    }

    display: flex;
    justify-content: center;
    align-items: center;

    button {
      margin: 0 auto;
      letter-spacing: 0.04em;
    }
  }
}
