.students {
  width: 100%;
  color: #24282A;

  &__button {
    padding-bottom: 24px;

    button {
      margin: 0 auto;
    }
  }

  &__item {
    margin-bottom: 8px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
  }

  &__content,
  &__empty-container {
    margin: 16px 0;
  }

  &__action {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;

    button {
      margin-left: 8px;
    }
  }
}
