.study-group {
  padding: 16px;
  background-color: white;
  margin-bottom: 16px;

  @media (max-width: 872px) {
    width: 100%;
  }

  &__name {
    color: #24282A;
    font-size: 24px;
    font-weight: 800;
    font-family: "NunitoBlack", sans-serif;
  }

  &__count {
    color: #24282A;
    font-size: 14px;
    font-weight: 700;
    padding: 3px 8px;
    background-color: #FF993B;
    border-radius: 8px;
    display: inline-block;
    margin: 8px 0;
  }

  &__description {
    color: #24282A;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
  }

  &__detail-link {
    color: #71AB4F;
    font-weight: 800;
    font-size: 14px;
    display: inline-block;

    &:hover {
      cursor: pointer;
      filter: brightness(110%);
    }

    &:active {
      color: #597E36;
    }
  }
}
