.user-info {
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 8px;

  @media (max-width: 872px) {
    width: 100%;
  }

  &__private {
    display: flex;

    img {
      width: 40px;
      height: 40px;
      border-radius: 8px;
      object-fit: cover;
    }
  }

  &__name {
    color: #24282A;
    font-size: 16px;
    font-weight: 400;
    margin-left: 8px;
    margin-top: 8px;
  }

  &__level {
    color: #24282A;
    font-size: 14px;
    font-weight: 700;
    background-color: #FBBE1C;
    border-radius: 8px;
    padding: 3px 8px;
    margin-top: 7px;
    text-transform: capitalize;
    height: 25px;
  }
}
