.article-container {
  width: 100%;

  &__content {
    display: flex;
    width: calc(100% - 16px);
    margin: 0 auto;

    @media (min-width: 888px) {
      width: 872px;
    }

    @media (max-width: 600px) {
      display: block;
    }
  }

  &__title {
    font-weight: 900;
    font-size: 36px;
    margin-bottom: 16px;
  }

  &__desc {
    margin-bottom: 24px;
  }

  &__category {
    color: #616161;
    font-weight: 400;
    font-size: 16px;
  }

  &__image {
    width: 200px;
    height: 300px;

    @media (max-width: 600px) {
      width: 100%;
      height: auto;
    }
  }

  &__header {
    font-weight: 700;
    font-size: 18px;
    margin: 24px 0;
    color: #24282A;

    &__content {
      color: #0040E3;
      font-weight: bold;
      font-size: 18px;
    }
  }

  &__caption {
    margin: 24px 0;
    font-weight: bold;
    font-size: 18px;
  }
}

.bookmark-button {
  margin: 24px 0;
  padding: 12px;
  display: flex;
  border-radius: 8px;
  color: #71AB4F;
  border: 1px solid #71AB4F;
  justify-content: center;
  min-width: 123px;

  &:hover {
    cursor: pointer;
  }

  @media (max-width: 600px) {
    width: 100%;
  }

  &__icon {
    margin-right: 12px;
  }
}

.row-divider {
  height: 1px;
  background: #E0E0E0;
  margin-bottom: 24px;
}

.view-margin-bottom-24 {
  margin-bottom: 24px;
}

.view-margin-left-24 {
  margin-left: 24px;

  @media (max-width: 600px) {
    margin-left: 0;
  }
}

.view-margin-top-24 {
  margin-top: 24px;
}

.bookmark {
  display: inline-block;

  @media (max-width: 600px) {
    display: block;
  }
}

.article-content {
  width: calc(100% - 16px);
  margin: 0 auto 24px auto;

  @media (min-width: 888px) {
    width: 872px;
  }
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
.post-content::v-deep .ql-font-serif {
  font-family: Georgia, Times New Roman, serif;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
.post-content::v-deep .ql-font-monospace {
  font-family: Monaco, Courier New, monospace;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
.post-content::v-deep .ql-size-small {
  font-size: 0.75em;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
.post-content::v-deep .ql-size-large {
  font-size: 1.5em;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
.post-content::v-deep .ql-size-huge {
  font-size: 2.5em;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
.post-content::v-deep .ql-align-center {
  text-align: center;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
.post-content::v-deep .ql-align-justify {
  text-align: justify;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
.post-content::v-deep .ql-align-right {
  text-align: right;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
.article-content::v-deep pre {
  white-space: normal;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
// .article-content::v-deep img {
//   float: left;
//   margin: 8px 8px 8px 0;
//   max-width: 100%;
// }

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
.article-content::v-deep li {
  list-style-type: initial;
  list-style-position: inside;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
.article-content::v-deep .youtube {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
.article-content::v-deep iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
.article-content::v-deep blockquote {
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  border-left: 8px solid #24282A;
  padding-left: 24px;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
.article-content::v-deep blockquote span:first-of-type::before {
  content: open-quote;
  font-size: 20px;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
.article-content::v-deep blockquote span:last-of-type::after {
  content: close-quote;
  font-size: 20px;
}

/* stylelint-disable-next-line selector-pseudo-element-no-unknown */
.article-content::v-deep a {
  color: blue !important;
}

.article_gallery_container {
  width: calc(100% - 16px);
  padding-bottom: 32px;
  margin: 0 auto;

  @media (min-width: 888px) {
    width: 872px;
  }

  &_images {
    display: flex;
    flex-wrap: wrap;
    margin: -8px;

    &_img {
      flex: 1 1;
      max-width: calc(100% - 16px);
      margin: 8px;

      @media (min-width: 601px) {
        max-width: calc((100% / 3) - 16px);
      }
    }
  }
}
