.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  &__button {
    border-radius: 10px;
    color: black;
    padding: 12px 24px;
    border: 2px solid black;
    background: white;
  }

  &__icon-margin {
    position: relative;
    top: 3px;
    margin-right: 10px;
  }
}
