.question-button {
  width: 100%;
  background-color: white;
  border: 2px solid #24282A;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #24282A;
  text-align: center;
  padding: 12px 12px 12px 15px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 8px;

  &.selected {
    color: white;
    background-color: #4B79D2;
    border-color: #4B79D2;
    padding-bottom: 4px;

    &:hover {
      opacity: 0.9;
    }
  }

  &__icon {
    width: 24px;
  }
}
