.sidebar {
  padding: 24px 12px;
  background: white;
  border-radius: 8px;

  &__heading {
    color: #24282A;
    font-size: 14px;
    margin-bottom: 24px;
    font-weight: 800;
  }

  &__content {
    padding-left: 12px;
    color: #4B79D2;
    font-weight: 800;
    font-size: 14px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
  }
}
